<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Angular Material - VFF Demo App</title>
	<meta name="description" content="VFF demo app using Angular Material.">
	<link rel="stylesheet" href="css/angular-material.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-controller="AppController" layout="column" layout-fill>
	<div class="m-app-loading" ng-animate-children md-swipe-down="onSwipeDown()" data-ng-hide="showSplash">
		<div class="animated-container">
			<div class="messaging">
				<!-- <h1>Valley Forge Fabrics</h1>
				<md-button>
					scroll
					<md-icon class="md-default-theme" class="material-icons" style="color: #fff;">&#xE313;</md-icon>
				</md-button>
				<img ng-repeat="slide in slides" class="slide" ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}"> -->
			</div>
		</div>
	</div>
	<style>
		#top-menu, md-icon, .md-button { color: #888 !important; }
		md-input-container input {
			font-size: 0.9rem;
			margin-left: 5px;
			padding-left: 25px;
		}
		#top-menu md-icon.md-default-theme { color: #fff; }
		md-grid-tile {
			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
			font-weight: 300;
			transition: all 1s ease-out 50ms;
		}
		md-grid-tile h3 {
			border-top: #fff 2px ridge;
			color: #fff;
			font-size: 1.1rem !important;
			letter-spacing: 3px;
			padding-top: 8px;
			text-align: center;
			text-shadow: 0 1px 2px #333;
			text-transform: uppercase;
		}
		md-grid-tile figure { opacity: 0.8; }
		md-grid-tile figure, md-grid-tile figure:hover, md-grid-tile figure:active {
			transition: opacity 0.3s ease-out, transform 0.3s ease-out;
			-moz-transition: opacity 0.3s ease-out, -moz-transform 0.3s ease-out;
			-o-transition: opacity 0.3s ease-out, -o-transform 0.3s ease-out;
			-webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
		}
		md-grid-tile figure:hover, md-grid-tile figure:active {
			cursor: pointer;
			background-color: rgba(0,0,0,0.75) !important;
			opacity: 1;
		}
	</style>
	<md-toolbar id="top-menu" ng-cloak="">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Open SideNav" ng-click="openSideNavPanel()" data-ng-show="showSidebar">
				<md-icon class="material-icons">&#xE5D2;</md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="Close SideNav" ng-click="closeSideNavPanel()" data-ng-hide="showSidebar">
				<md-icon class="material-icons">&#xE5CD;</md-icon>
			</md-button>
			<h2 flex><img src="http://c67bfc7c934596c5d2de-384a0fe271c727cec0e8a9b32788243a.r54.cf1.rackcdn.com/logo.svg" style="max-height: 85%;"></h2>
			<md-button id="search-icon" class="md-icon-button" aria-label="Search">
				<md-icon class="material-icons">&#xE8B6;</md-icon>
			</md-button> | 
			<a id="login-button" class="md-primary md-button" ng-click="openLogin()">Login</a>
		</div>
	</md-toolbar>
	<md-content layout="row" ng-cloak="">
		<md-sidenav class="md-sidenav-left" md-component-id="blegh" md-cols-sm="1"> 
			<md-content>
				<h2>Menu</h2>
				<ul id="side-menu">
					<li ng-repeat="item in items" ng-click="showChilds(item)">
						<md-button>{{item.name}}</md-button>
						<ul>
							<li ng-repeat="subItem in item.subItems" ng-show="item.active">
								<md-button>{{subItem.name}}</md-button>
							</li>
						</ul>
					</li>
				</ul>
			</md-content> 
		</md-sidenav>
		<!-- Menu Grid: ng-slide-down? -->
		<md-grid-list md-cols-gt-md="4" md-cols-md="2" md-cols-sm="1" md-gutter="2px" md-row-height="9:10" flex id="grid-list">
			<md-grid-tile ng-if="displayContent" ng-repeat="tile in tiles" id="{{tile.id}}">
				<h3>{{tile.title}}</h3>
			</md-grid-tile>
		</md-grid-list>
	</md-content>
	<footer ng-view layout="row" layout-padding>
		<p>&copy; 2016 Valley Forge Fabrics, Inc.</p>
		<ul flex>
			<li>Contact Us</li>
			<li>Privacy Policy</li>
			<li>Terms and Conditions</li>
		</ul>
		<!-- Social Media Icons -->
	</footer>
	<script src="js/angular.js"></script>
	<script src="js/angular-animate.min.js"></script>
	<script src="js/angular-route.min.js"></script>
	<script src="js/angular-aria.min.js"></script>
	<script src="js/angular-messages.min.js"></script>
	<script src="js/angular-material.js"></script>
	<script type="text/javascript">
		var app = angular.module('Demo', ['ngMaterial', 'ngAnimate']);
		setTimeout(
			function asyncBootstrap() {
				angular.bootstrap(document, ['Demo']);
			},
			(2 * 900)
		);
		app.controller('AppController', function($scope, $mdSidenav, $mdDialog) {
			// $scope.onSwipeDown = function() {
			// 	$scope.showSplash = false;
			// };
			$scope.showSidebar = true;
			$scope.openSideNavPanel = function() {
				$mdSidenav('blegh').open();
				$scope.showSidebar = false;
			};
			$scope.closeSideNavPanel = function() {
				$mdSidenav('blegh').close();
				$scope.showSidebar = true;
			};
			$scope.openLogin = function() {
				$mdDialog.show({
					controller: 'AppController', 
					template:
					`<md-dialog id="dialog-popup">
						<md-dialog-content>
							<h3>Login to your account</h3>
							<form name="loginForm">
								<md-input-container class="md-block">
									<label for="userEmail">Email</label>
									<input required type="email" name="userEmail" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
								</md-input-container>
								<md-input-container class="md-block">
									<label for="userPassword">Password</label>
									<input required type="password" name="userPassword" />
								</md-input-container>
								<md-input-container class="md-block">
									<md-checkbox id="remember" ng-model="isChecked" aria-label="Remember Me">Remember Me</md-checkbox>
								</md-input-container>
								<md-input-container class="md-block" style="padding: 8px 0;">
									<button id="login-submit" type="button" ng-click="closeLogin()">Login</button>
								</md-input-container>
							</form>
							<md-input-container class="md-block">
								<a class="forgot" href="#">Forgot your Password?</a>
								<h3 style="margin-bottom: 8px;">New customer?</h3>
								<button id="create-account" type="button" ng-click="closeLogin()">Create an Account</button>
							</md-input-container>
						</md-dialog-content>
						<md-dialog-actions>
							<md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeLogin()">
									<md-icon class="md-default-theme" class="material-icons">&#xE5CD;</md-icon>
							</md-button>
						</md-dialog-actions>
					</md-dialog>`
				});
			}
			$scope.closeLogin = function() {
				$mdDialog.hide();
			}
			$scope.tiles = [{
				id: 'about',
				title: 'About Us'
			}, {
				id: 'library',
				title: 'Library'
			}, {
				id: 'shades',
				title: 'Roller Shades'
			}, {
				id: 'bedding',
				title: 'Bedding'
			}, {
				id: 'collections',
				title: 'Fabric Collections'
			}, {
				id: 'weaveup',
				title: 'WeaveUp'
			}, {
				id: 'media',
				title: 'Media'
			}, {
				id: 'contact',
				title: 'Contact'
			}];
	        $scope.displayContent = true;
	        $scope.toggleContent = function(showContent) {
	            $scope.displayContent = showContent;
	        };
	        $scope.showChilds = function(item) {
	        	item.active = !item.active;
	        };
	        $scope.items = [{
	        	name: "Valley Forge",
	        	subItems: [{
	        		name: "Our Story"
	        	}, {
	        		name: "Sustainability"
	        	}]
	        }, {
	        	name: "Library",
	        	subItems: [{
	        		name: "Design Library"
	        	}, {
	        		name: "Bedding Spec Book"
	        	}, {
	        		name: "Gradient Spec Book"
	        	}]
	        }, {
	        	name: "Products",
	        	subItems: [{
	        		name: "Fabric Collections"
	        	}, {
	        		name: "Weaveup"
	        	}, {
	        		name: "Roller Shades"
	        	}, {
	        		name: "Revl"
	        	}, {
	        		name: "Tencel Plus"
	        	}, {
	        		name: "Fresh"
	        	}]
	        }, {
	        	name: "Media"
	        }, {
	        	name: "Careers"
	        }, {
	        	name: "Contact"
	        }];
		});
		app.directive('mAppLoading', function($animate) {
			return({
				link: link,
				restrict: "C"
			});
			function link(scope, element, attributes) {
				$animate.leave( element.children().eq(1)).then(
					function cleanupAfterAnimation() {
						element.remove();
						scope = element = attributes = null;
					}
				);
			}
		});
	</script>
</body>
</html>